# DB
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>

#Django
SECRET_KEY=WhupPaAmD6v2XVrV585NWEZxXrL6lgbA
DJANGO_SETTINGS_MODULE=frisson_music_service.settings
