{% load static %}

<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a href="https://open.spotify.com/playlist/3MsWBB7u7xRMSvaKupejox?si=f4c257fb99bc4e34" class="nav-link"
           target="_blank" rel="noopener noreferrer">
          <img src="https://res.cloudinary.com/dydqbkfti/image/upload/v1766402285/spotify_logo_kjhkr1.png" alt="Spotify"
               class="social-icon">
        </a>
      </li>
      <li class="nav-item">
        <a href="https://youtube.com/playlist?list=PLny3sak8k1Z2ildyg0QYX20mTkpVdp_n0&si=IierTlI3m8Nz2O0Z"
           class="nav-link" target="_blank" rel="noopener noreferrer">
          <img src="https://res.cloudinary.com/dydqbkfti/image/upload/v1766402285/youtube_logo_bjzdlw.png" alt="YouTube"
               class="social-icon">
        </a>
      </li>
      <li class="nav-item">
        <a href="https://t.me/FrissonMusix" class="nav-link" target="_blank" rel="noopener noreferrer">
          <img src="https://res.cloudinary.com/dydqbkfti/image/upload/v1766402285/telegram_logo_az0625.png"
               alt="Telegram" class="social-icon">
        </a>
      </li>
    </ul>
    <div class="copyright">
      © 2025 Frisson Music
    </div>
  </div>
</footer>
