<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text logo-normal">
        Frisson Music
      </a>
    </div>
    <ul class="nav">
      <li>
        <a href="#">
          <i class="tim-icons icon-sound-wave"></i>
          <p>Albums</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="tim-icons icon-controller"></i>
          <p>Games</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="tim-icons icon-video-66"></i>
          <p>Movies</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="tim-icons icon-tv-2"></i>
          <p>Anime / Series</p>
        </a>
      </li>
    </ul>
  </div>
</div>
